In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('income1.csv')
df = df.iloc[2: , :]
df.rename(columns = {'PCI_2014':'Qty_Adults'}, inplace = True)
df['Qty_Adults'] = pd.to_numeric(df['Qty_Adults'])
df['Qty_Adults'] = df['Qty_Adults'].astype(int)
df = df.drop(columns=['Layer','GEOID','PCI_2014_moe'])
df.insert(2, 'Year', '2014')
df

          Name  Qty_Adults  Year
2  Chicago, IL       33075  2014

In [3]:
df2=pd.read_csv('income2.csv')
df2 = df2.iloc[2: , :]
df2.rename(columns = {'PCI_2015':'Qty_Adults'}, inplace = True)
df2['Qty_Adults'] = pd.to_numeric(df2['Qty_Adults'])
df2['Qty_Adults'] = df2['Qty_Adults'].astype(int)
df2 = df2.drop(columns=['Layer','GEOID','PCI_2015_moe'])
df2.insert(2, 'Year', '2015')
df2

          Name  Qty_Adults  Year
2  Chicago, IL       36024  2015

In [4]:
df3=pd.read_csv('income3.csv')
df3 = df3.iloc[2: , :]
df3.rename(columns = {'PCI_2016':'Qty_Adults'}, inplace = True)
df3['Qty_Adults'] = pd.to_numeric(df3['Qty_Adults'])
df3['Qty_Adults'] = df3['Qty_Adults'].astype(int)
df3 = df3.drop(columns=['Layer','GEOID','PCI_2016_moe'])
df3.insert(2, 'Year', '2016')
df3

          Name  Qty_Adults  Year
2  Chicago, IL       37337  2016

In [5]:
df4=pd.read_csv('income4.csv')
df4 = df4.iloc[2: , :]
df4.rename(columns = {'PCI_2017':'Qty_Adults'}, inplace = True)
df4['Qty_Adults'] = pd.to_numeric(df4['Qty_Adults'])
df4['Qty_Adults'] = df4['Qty_Adults'].astype(int)
df4 = df4.drop(columns=['Layer','GEOID','PCI_2017_moe'])
df4.insert(2, 'Year', '2017')
df4

          Name  Qty_Adults  Year
2  Chicago, IL       38009  2017

In [6]:
df5=pd.read_csv('income5.csv')
df5 = df5.iloc[2: , :]
df5.rename(columns = {'PCI_2018':'Qty_Adults'}, inplace = True)
df5['Qty_Adults'] = pd.to_numeric(df5['Qty_Adults'])
df5['Qty_Adults'] = df5['Qty_Adults'].astype(int)
df5 = df5.drop(columns=['Layer','GEOID','PCI_2018_moe'])
df5.insert(2, 'Year', '2018')
df5

          Name  Qty_Adults  Year
2  Chicago, IL       40066  2018

In [7]:
df6=pd.read_csv('income6.csv')
df6 = df6.iloc[2: , :]
df6.rename(columns = {'PCI_2019':'Qty_Adults'}, inplace = True)
df6['Qty_Adults'] = pd.to_numeric(df6['Qty_Adults'])
df6['Qty_Adults'] = df6['Qty_Adults'].astype(int)
df6 = df6.drop(columns=['Layer','GEOID','PCI_2019_moe'])
df6.insert(2, 'Year', '2019')
df6

          Name  Qty_Adults  Year
2  Chicago, IL       42722  2019

In [8]:
df7=pd.read_csv('income7.csv')
df7 = df7.iloc[2: , :]
df7.rename(columns = {'PCI_2019':'Qty_Adults'}, inplace = True)
df7['Qty_Adults'] = pd.to_numeric(df7['Qty_Adults'])
df7['Qty_Adults'] = df7['Qty_Adults'].astype(int)
df7 = df7.drop(columns=['Layer','GEOID','PCI_2019_moe'])
df7.insert(2, 'Year', '2020')
df7

          Name  Qty_Adults  Year
2  Chicago, IL       43197  2020

In [9]:
vertical_stack = pd.concat([df,df2,df3,df4,df5,df6,df7], axis=0)

In [10]:
vertical_stack.rename(columns = {'Name':'City'}, inplace = True)

In [11]:
vertical_stack

          City  Qty_Adults  Year
2  Chicago, IL       33075  2014
2  Chicago, IL       36024  2015
2  Chicago, IL       37337  2016
2  Chicago, IL       38009  2017
2  Chicago, IL       40066  2018
2  Chicago, IL       42722  2019
2  Chicago, IL       43197  2020

In [12]:
vertical_stack.to_csv('income.csv', index=False)