In [1]:
import pandas as pd

In [36]:
df=pd.read_csv('./data/Food_Inspections.csv')

In [37]:
df.rename(columns = {'DBA Name':'Name'}, inplace = True)

In [38]:
df2 = df.drop(columns=['Risk','AKA Name', 'License #','Results','Violations','Latitude','Longitude', 'Location'])

In [39]:
df2['Facility Type'].unique()

array(['Restaurant'], dtype=object)

In [40]:
df2['Inspection Date'] = pd.to_datetime(df['Inspection Date'])

In [41]:
df2['year'] = df2['Inspection Date'].dt.year

In [42]:
df2=df2[(df2['year'] >= 2013) & (df2['year'] <= 2018)]

In [44]:
df2 = df2.drop(columns=['Inspection ID','Inspection Type'])

In [45]:
df2['Name'].str.title()

0                                 The Spot
1                       Number 1 Chop Suey
2             Captain Hooks Fish & Chicken
3                             Nick'S Gyros
4                                   Subway
                       ...
86692    David Jenson - Personal Chef ,Ltd
86693                    Mini Chi Chi Inc.
86694             See Thru Chinese Kitchen
86695                             Ranallis
86696                             Domino'S
Name: Name, Length: 86697, dtype: object

In [46]:
df2['Name']=df2['Name'].str.title()
df2['Address']=df2['Address'].str.title()
df2['City']=df2['City'].str.title()

In [47]:
df2 = df2.drop(columns=['State','Zip','Facility Type','Inspection Date'])

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86697 entries, 0 to 86696
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     86697 non-null  object
 1   Address  86697 non-null  object
 2   City     86647 non-null  object
 3   year     86697 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.3+ MB

In [49]:
df2.drop_duplicates()

,Name,Address,City,year
0,The Spot,4437 N Broadway,Chicago,2013
1,Number 1 Chop Suey,7342 S Stony Island Ave,Chicago,2013
2,Captain Hooks Fish & Chicken,8550 S Cottage Grove Ave,Chicago,2013
3,Nick'S Gyros,2011 W 63Rd St,Chicago,2013
4,Subway,5131 S Pulaski Rd,Chicago,2013
...,...,...,...,...
86687,El Basurero Restaurant Inc.,4781 S Archer Ave,Chicago,2018
86689,Dairy Queen Brazer,5636 W Irving Park Rd,Chicago,2018
86692,"David Jenson - Personal Chef ,Ltd",1901 S Racine Ave,Chicago,2018
86695,Ranallis,1508-1512 W Berwyn Ave,Chicago,2018
86696,Domino'S,5628 W Fullerton Ave,Chicago,2018

In [51]:
df2.to_csv('clean_Chicago_restaurants.csv', index=False)