In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('Population.csv')
df = df.iloc[2: , :]
df.rename(columns = {'POP_2014':'Qty_Adults'}, inplace = True)
df['Qty_Adults'] = pd.to_numeric(df['Qty_Adults'])
df['Qty_Adults'] = df['Qty_Adults'].astype(int)
df = df.drop(columns=['Layer','GEOID','POP_2014_moe'])
df.insert(2, 'Year', '2014')
df

          Name  Qty_Adults  Year
2  Chicago, IL     2722407  2014

In [3]:
df2=pd.read_csv('Population2.csv')
df2 = df2.iloc[2: , :]
df2.rename(columns = {'POP_2015':'Qty_Adults'}, inplace = True)
df2['Qty_Adults'] = pd.to_numeric(df2['Qty_Adults'])
df2['Qty_Adults'] = df2['Qty_Adults'].astype(int)
df2 = df2.drop(columns=['Layer','GEOID','POP_2015_moe'])
df2.insert(2, 'Year', '2015')
df2

          Name  Qty_Adults  Year
2  Chicago, IL     2720556  2015

In [4]:
df3=pd.read_csv('Population3.csv')
df3 = df3.iloc[2: , :]
df3.rename(columns = {'POP_2016':'Qty_Adults'}, inplace = True)
df3['Qty_Adults'] = pd.to_numeric(df3['Qty_Adults'])
df3['Qty_Adults'] = df3['Qty_Adults'].astype(int)
df3 = df3.drop(columns=['Layer','GEOID','POP_2016_moe'])
df3.insert(2, 'Year', '2016')
df3

          Name  Qty_Adults  Year
2  Chicago, IL     2704965  2016

In [5]:
df4=pd.read_csv('Population4.csv')
df4 = df4.iloc[2: , :]
df4.rename(columns = {'POP_2017':'Qty_Adults'}, inplace = True)
df4['Qty_Adults'] = pd.to_numeric(df4['Qty_Adults'])
df4['Qty_Adults'] = df4['Qty_Adults'].astype(int)
df4 = df4.drop(columns=['Layer','GEOID','POP_2017_moe'])
df4.insert(2, 'Year', '2017')
df4

          Name  Qty_Adults  Year
2  Chicago, IL     2716462  2017

In [6]:
df5=pd.read_csv('Population5.csv')
df5 = df5.iloc[2: , :]
df5.rename(columns = {'POP_2018':'Qty_Adults'}, inplace = True)
df5['Qty_Adults'] = pd.to_numeric(df5['Qty_Adults'])
df5['Qty_Adults'] = df5['Qty_Adults'].astype(int)
df5 = df5.drop(columns=['Layer','GEOID','POP_2018_moe'])
df5.insert(2, 'Year', '2018')
df5

          Name  Qty_Adults  Year
2  Chicago, IL     2705988  2018

In [7]:
df6=pd.read_csv('2019.csv')
df6 = df6.iloc[2: , :]
df6.rename(columns = {'POP_2019':'Qty_Adults'}, inplace = True)
df6['Qty_Adults'] = pd.to_numeric(df6['Qty_Adults'])
df6['Qty_Adults'] = df6['Qty_Adults'].astype(int)
df6 = df6.drop(columns=['Layer','GEOID','POP_2019_moe'])
df6.insert(2, 'Year', '2019')
df6

          Name  Qty_Adults  Year
2  Chicago, IL     2693959  2019

In [8]:
df7=pd.read_csv('2020.csv')
df7 = df7.iloc[2: , :]
df7.rename(columns = {'POP_2020':'Qty_Adults'}, inplace = True)
df7['Qty_Adults'] = pd.to_numeric(df7['Qty_Adults'])
df7['Qty_Adults'] = df7['Qty_Adults'].astype(int)
df7 = df7.drop(columns=['Layer','GEOID','POP_2020_moe'])
df7.insert(2, 'Year', '2020')
df7

          Name  Qty_Adults  Year
2  Chicago, IL     2746388  2020

In [9]:
df8=pd.read_csv('2021.csv')
df8 = df8.iloc[2: , :]
df8.rename(columns = {'POP_2021':'Qty_Adults'}, inplace = True)
df8['Qty_Adults'] = pd.to_numeric(df8['Qty_Adults'])
df8['Qty_Adults'] = df8['Qty_Adults'].astype(int)
df8 = df8.drop(columns=['Layer','GEOID','POP_2021_moe'])
df8.insert(2, 'Year', '2021')
df8

          Name  Qty_Adults  Year
2  Chicago, IL     2720546  2021

In [10]:
vertical_stack = pd.concat([df,df2,df3,df4,df5,df6,df7,df8], axis=0)

In [11]:
vertical_stack.rename(columns = {'Name':'City'}, inplace = True)

In [12]:
vertical_stack

          City  Qty_Adults  Year
2  Chicago, IL     2722407  2014
2  Chicago, IL     2720556  2015
2  Chicago, IL     2704965  2016
2  Chicago, IL     2716462  2017
2  Chicago, IL     2705988  2018
2  Chicago, IL     2693959  2019
2  Chicago, IL     2746388  2020
2  Chicago, IL     2720546  2021

In [13]:
vertical_stack.to_csv('Populations.csv', index=False)