In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('./data/Heart/Heart1.csv')

In [3]:
df = df.iloc[2: , :]
df['VRHD_2014'] = pd.to_numeric(df['VRHD_2014'])
df['VRHD_2014'] = df['VRHD_2014'].astype(int)
df = df.drop(columns=['Layer','GEOID','VRHD_2014_moe'])
df.rename(columns = {'VRHD_2014':'Deaths'}, inplace = True)
df.insert(2, 'Year', '2014')

In [5]:
df2=pd.read_csv('./data/Heart/Heart2.csv')
df2 = df2.iloc[2: , :]
df2['VRHD_2015'] = pd.to_numeric(df2['VRHD_2015'])
df2['VRHD_2015'] = df2['VRHD_2015'].astype(int)
df2 = df2.drop(columns=['Layer','GEOID','VRHD_2015_moe'])
df2.insert(2, 'Year', '2015')
df2.rename(columns = {'VRHD_2015':'Deaths'}, inplace = True)

In [7]:
df3=pd.read_csv('./data/Heart/Heart3.csv')
df3 = df3.iloc[2: , :]
df3.rename(columns = {'VRHD_2016':'Deaths'}, inplace = True)
df3['Deaths'] = pd.to_numeric(df3['Deaths'])
df3['Deaths'] = df3['Deaths'].astype(int)
df3 = df3.drop(columns=['Layer','GEOID','VRHD_2016_moe'])
df3.insert(2, 'Year', '2016')

In [9]:
df4=pd.read_csv('./data/Heart/Heart4.csv')
df4 = df4.iloc[2: , :]
df4.rename(columns = {'VRHD_2017':'Deaths'}, inplace = True)
df4['Deaths'] = pd.to_numeric(df4['Deaths'])
df4['Deaths'] = df4['Deaths'].astype(int)
df4 = df4.drop(columns=['Layer','GEOID','VRHD_2017_moe'])
df4.insert(2, 'Year', '2017')

In [13]:
df5=pd.read_csv('./data/Heart/Heart5.csv')
df5 = df5.iloc[2: , :]
df5.rename(columns = {'VRHD_2018':'Deaths'}, inplace = True)
df5['Deaths'] = pd.to_numeric(df5['Deaths'])
df5['Deaths'] = df5['Deaths'].astype(int)
df5 = df5.drop(columns=['Layer','GEOID','VRHD_2018_moe'])
df5.insert(2, 'Year', '2018')

In [15]:
vertical_stack = pd.concat([df,df2,df3,df4,df5], axis=0)

In [17]:
vertical_stack.rename(columns = {'Name':'City'}, inplace = True)

In [18]:
vertical_stack

          City  Deaths  Year
2  Chicago, IL    4844  2014
2  Chicago, IL    4913  2015
2  Chicago, IL    4899  2016
2  Chicago, IL    4774  2017
2  Chicago, IL    4843  2018

In [19]:
vertical_stack.to_csv('Heart_disease_mortality.csv', index=False)