In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('Heart1.csv')

In [3]:
df = df.iloc[2: , :]
df['VRHD_2014'] = pd.to_numeric(df['VRHD_2014'])
df['VRHD_2014'] = df['VRHD_2014'].astype(int)
df = df.drop(columns=['Layer','GEOID','VRHD_2014_moe'])
df.rename(columns = {'VRHD_2014':'Deaths'}, inplace = True)
df.insert(2, 'Year', '2014')

In [4]:
df

          Name  Deaths  Year
2  Chicago, IL    4844  2014

In [5]:
df2=pd.read_csv('Heart2.csv')
df2 = df2.iloc[2: , :]
df2['VRHD_2015'] = pd.to_numeric(df2['VRHD_2015'])
df2['VRHD_2015'] = df2['VRHD_2015'].astype(int)
df2 = df2.drop(columns=['Layer','GEOID','VRHD_2015_moe'])
df2.insert(2, 'Year', '2015')
df2.rename(columns = {'VRHD_2015':'Deaths'}, inplace = True)

In [6]:
df2

          Name  Deaths  Year
2  Chicago, IL    4913  2015

In [7]:
df3=pd.read_csv('Heart3.csv')
df3 = df3.iloc[2: , :]
df3.rename(columns = {'VRHD_2016':'Deaths'}, inplace = True)
df3['Deaths'] = pd.to_numeric(df3['Deaths'])
df3['Deaths'] = df3['Deaths'].astype(int)
df3 = df3.drop(columns=['Layer','GEOID','VRHD_2016_moe'])
df3.insert(2, 'Year', '2016')

In [8]:
df3

          Name  Deaths  Year
2  Chicago, IL    4899  2016

In [9]:
df4=pd.read_csv('Heart4.csv')
df4 = df4.iloc[2: , :]
df4.rename(columns = {'VRHD_2017':'Deaths'}, inplace = True)
df4['Deaths'] = pd.to_numeric(df4['Deaths'])
df4['Deaths'] = df4['Deaths'].astype(int)
df4 = df4.drop(columns=['Layer','GEOID','VRHD_2017_moe'])
df4.insert(2, 'Year', '2017')

In [10]:
df4

          Name  Deaths  Year
2  Chicago, IL    4774  2017

In [11]:
df5=pd.read_csv('Heart5.csv')
df5 = df5.iloc[2: , :]
df5.rename(columns = {'VRHD_2018':'Deaths'}, inplace = True)
df5['Deaths'] = pd.to_numeric(df5['Deaths'])
df5['Deaths'] = df5['Deaths'].astype(int)
df5 = df5.drop(columns=['Layer','GEOID','VRHD_2018_moe'])
df5.insert(2, 'Year', '2018')

In [12]:
df6=pd.read_csv('Heart6.csv')
df6 = df6.iloc[2: , :]
df6.rename(columns = {'VRHD_2019':'Deaths'}, inplace = True)
df6['Deaths'] = pd.to_numeric(df6['Deaths'])
df6['Deaths'] = df6['Deaths'].astype(int)
df6 = df6.drop(columns=['Layer','GEOID','VRHD_2019_moe'])
df6.insert(2, 'Year', '2019')

In [13]:
df7=pd.read_csv('Heart7.csv')
df7 = df7.iloc[2: , :]
df7.rename(columns = {'VRHD_2020':'Deaths'}, inplace = True)
df7['Deaths'] = pd.to_numeric(df7['Deaths'])
df7['Deaths'] = df7['Deaths'].astype(int)
df7 = df7.drop(columns=['Layer','GEOID','VRHD_2020_moe'])
df7.insert(2, 'Year', '2020')

In [15]:
vertical_stack = pd.concat([df,df2,df3,df4,df5,df6,df7], axis=0)

In [16]:
vertical_stack.rename(columns = {'Name':'City'}, inplace = True)

In [17]:
vertical_stack

          City  Deaths  Year
2  Chicago, IL    4844  2014
2  Chicago, IL    4913  2015
2  Chicago, IL    4899  2016
2  Chicago, IL    4774  2017
2  Chicago, IL    4843  2018
2  Chicago, IL    4831  2019
2  Chicago, IL    5325  2020

In [18]:
vertical_stack.to_csv('Heart_disease_mortality.csv', index=False)